.fleet-card .card-img-overlay {
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 0.6) 0%,
    rgba(0, 198, 177, 0.5) 100%
  ) !important;

  font-family: "Montserrat-SemiBold";
}

#plan-section {
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 1) 0%,
    rgba(0, 198, 177, 1) 100%
  ) !important;

  color: white;
}

.plan-card-body {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.plan-card-footer {
  color: white;
  font-family: "Montserrat-SemiBold";
  font-size: 0.8rem;
  text-align: center;
  margin: 0.6rem 0 0 0;
  padding: 0;
}

.plan-card img {
  width: 100%;
}

.plan-section-head {
  font-family: "Montserrat-Bold";
}

.app-info-card-text {
  font-family: "Montserrat-Bold";
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.592);
  padding: 0;
  margin: 0;
}

.app-info-card-text.right {
  text-align: right;
}

.app-info-card-img {
  width: 60%;
}

#partner-section {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(19, 163, 209, 1) 0%,
    rgba(0, 198, 177, 1) 100%
  ) !important;
}

.partner-head{
  font-family: "Montserrat-Bold";
  font-size: 2rem;
}
