.step-head {
  font-size: 2.5rem;
  color: #07a8ae;
  font-family: "Montserrat-Bold";
}

.step-note {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.615);
  font-family: "Montserrat-Bold";
}
.step-card {
  background-color: #07a8ae;
  color: white !important;
  font-family: "Montserrat-Bold";
}

.benefit-card {
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
  padding: 2rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 200ms;
}


.benefit-card:hover {
  transform: scale(1.2);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.077);
}

.benefit-card img {
  /* padding: 1rem; */
  margin: 2rem;
  width: 50%;
}

.benefit-card span {
  /* padding: 1rem; */
  /* font-family: 'Montserrat-SemiBold'; */
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 2rem 0;
}

